
html {
	font-family: verdana;
	font-size: 12px;
	padding-left: 30px;
	line-height: 100%;
	background-color: rgb(189, 236, 239);
}

h3 {
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	line-height: 100%;
}
h2 {
	font-family: verdana;
	font-size: 18px;
	line-height: 100%;
}
h1 {
	font-family: Courier New;
	font-size: 25px;
	font-weight: bold;
	line-height: 100%;
}

p {
	font-family: verdana;
	text-align: left;
	line-height: 100%;
	font-size:	12px;
	margin:0px;
	padding:0px;
}

br{
	display: block;
	margin: 1px 0;
}

#lien_update {
	margin-top: 30px;
	font-family: verdana;
	font-style: italic;
	font-size: 12px;
}

#table {
	top: 1px;
	left: 1px;
	background-color: #eeeeFF;
	border-radius: 10px;
	border: 2px solid #7777CC;
	margin:3px;
	padding:5px;
}