* {
    font-family: "proxima-nova";
    color: rgb(12, 32, 68);
    font-size: 18px;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    background-color: rgb(189, 236, 239);
}

#app {
}

/***************
 *  SEARCH
 ***************/

.search-form {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

@media screen and (max-width: 400px) {
    .search-form {
        padding: 12px;
        flex-direction: column;
    }
    .search-form > *{
        margin-bottom: 12px;
    }
}

.search-when {
    width: 280px;
}

@media screen and (max-width: 400px) {
    .search-when {
        width: 100%;
    }
}

.Select {
    box-sizing: content-box;
}

.Select div {
    box-sizing: content-box;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
    line-height: 38px;
    font-size: 18px;
}

.Select-control {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0;
    text-align: left;
}

.Select-option.is-focused {
    background-color: rgb(238, 89, 73);
    color: white;
}

.Select-option {
    color: rgb(12, 32, 68);
    font-size: 16px;
}

.Select-option:last-child {
    border-radius: 0;
}

input {
    padding: 6px;
    font-family: "proxima-nova";
    font-size: 18px;
}

button {
    background-color: rgb(238, 89, 73);
    color: white;
    padding: 8px 24px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button:disabled {
    opacity: 0.75;
}

.geosuggest__suggests-wrapper {
    position: absolute;
    text-align: left;
    z-index: 999;
}

.geosuggest__suggests {
    margin: 0;
}

.geosuggest__input {
    width: 400px;
}

@media screen and (max-width: 400px) {
    .geosuggest__input {
        width: 100%;
    }
}

.geosuggest-item {
    cursor: pointer;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(230, 230, 230);
}
.geosuggest-item:hover,
.geosuggest-item:focus {
    background-color: rgb(238, 89, 73);
    color: white;
}

.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
}

/*******************
 * SEARCH RESULT
 *******************/

.search-result-container {
    padding: 100px 48px 100px 48px;
    width: 50%;
}

@media screen and (max-width: 400px) {
    .search-result-container {
        width: 100%;
        padding: 24px;
    }
}

.search-result-criteria {
    display: flex;
    justify-content: right;
    font-size: 24px;
}

.search-result-criteria > div{
    padding-right: 12px;
}

.empty-search-result {
    padding: 72px;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
    .search-result {
        flex-direction: column;
    }
}

.search-result-item {
    background: white;
    padding: 12px;
    margin-top: 24px;
    border: 1px solid rgb(200, 200, 200);
    width: 100%;
}

.search-result-item.by-species {
    width: 45%;
    margin-right: 24px;
}

.search-result-item-title {
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.search-result-item-title {
    text-transform: uppercase;
}

.search-result-item-body {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

@media screen and (max-width: 400px) {
    .search-result-item-body {
        flex-direction: column;
    }
    .search-result-item.by-species {
        width: 100%;
        margin-right: 0;
    }
}

.search-result-item-information-header {
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 6px;
}

.filters {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.grouping-criteria {
    padding: 6px;
    margin: 6px 6px 6px 0px;
    cursor: pointer;
    border: 1px solid rgb(12, 32, 68);
    color: rgb(50, 50, 50);
    font-size: 14px;
}

.coeff-range {
    padding-left: 12px;
    display: flex;
    align-items: center;
}

.coeff-range label {
    font-size: 14px;
}

.slider-container {
    width: 100px;
    display: inline-block;
    margin-left: 12px;
    margin-top: -2px;
}

.grouping-criteria--active {
    background-color: rgb(12, 32, 68);
    color: white;
    border: 1px solid rgb(12, 32, 68);
}

.tide-chart .recharts-wrapper{
    margin-left: -42px;
}

.plan-wrapper {
    padding: 18px 9px 9px 9px;
}

.plan {
    width: 100%;
}

#map-container {
    position: fixed;
    top: 56px;
    right: 0;
    width: 50%;
    float: right;
}

@media screen and (max-width: 400px) {
    #map-container {
        display: block;
        width: 100%;
        position: relative;
    }
}

/*********************
 * PLANNING
 *********************/

.planning-container {
    padding: 118px 72px;
}

@media screen and (max-width: 400px) {
    .planning-container {
        padding: 36px;
    }
}

.planning-container header {
    font-size: 48px;
    text-align: center;
    margin-bottom: 48px;
}

.planning-entry {
    padding: 24px;
    font-size: 36px;
    background: white;
    display: flex;
    justify-content: space-around;
    width: 700px;
    margin: 0 auto;
    border: 1px solid rgb(180, 180, 180);
}

@media screen and (max-width: 400px) {
    .planning-entry {
        width: 100%;
        padding: 0;
        font-size: 16px;
        flex-direction: column;
        text-align: center;
    }
    .planning-entry .date {
        border-bottom: 1px solid rgb(180, 180, 180);
    }
    .planning-entry > div {
        font-size: 16px;
    }
}

.planning-entry > div {
    padding: 12px 36px;
    font-size: 24px;
}

.see-planning-entry {
    background-color: rgb(238, 89, 73);
    color: white;
    padding: 8px 36px;
    font-size: 18px;
    border: none;
    text-decoration: none;
}

/*************************
 * SINGLE PLANNING ENTRY
 *************************/

.single-planning-entry-container header {
    font-size: 36px;
    text-align: center;
    margin-bottom: 48px;
}

@media screen and (max-width: 400px) {
    .single-planning-entry-container header {
        font-size: 24px;
    }
}

.single-planning-entry-fst-row {
    display: flex;
}

.single-planning-entry-species {
}

.single-planning-entry-fst-row > div {
    padding-right: 24px;
}

.single-planning-entry-wheather img {
    padding: 18px;
}

.species {
    background: white;
    padding: 24px;
}

.species img {
    float: left;
}

.species-name {
    text-transform: uppercase;
    font-size: 24px;
}

.species-container {
    display: flex;
    flex-direction: column;
}

table.species-info th,
table.species-info td {
    text-align: left;
    padding: 6px;
}

.single-planning-entry-container {
    width: 60%;
    padding: 100px 36px 36px 36px;
}

@media screen and (max-width: 400px) {
    .single-planning-entry-container {
        margin-left: 0px;
        margin-right: 0px;
    }
    .single-planning-entry-fst-row {
        flex-direction: column;
    }
}

#planning-entry-map-container {
    position: fixed;
    top: 56px;
    right: 0;
    width: 40%;
    float: right;
}
@media screen and (max-width: 400px) {
    #planning-entry-map-container {
        display: block;
        width: 100%;
        position: relative;
    }
}

nav {
    display: flex;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 99;
    justify-content: space-between;
    border-bottom: 1px solid rgb(200, 200, 200);
}

nav a {
    text-decoration: none;
}

.nav-one,
.nav-two {
    display: flex;
}

.nav-one > * {
    margin-right: 36px;
    font-size: 16px;
    padding: 18px;
}

.nav-two > * {
    margin-left: 36px;
    padding: 18px;
    font-size: 16px;
}

.logo {
    padding: 9px 0px 2px 18px;
}
