* {
    font-family: "proxima-nova";
    color: rgb(12, 32, 68);
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    background-color: rgb(189, 236, 239);
}

#app {
}

/***************
 *  SEARCH
 ***************/

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.search-when {
    width: 280px;
}

.Select {
    box-sizing: content-box;
}

.Select div {
    box-sizing: content-box;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
    line-height: 38px;
    font-size: 18px;
}

.Select-control {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0;
    text-align: left;
}

.Select-option.is-focused {
    background-color: rgb(238, 89, 73);
    color: white;
}

.Select-option {
    color: rgb(12, 32, 68);
    font-size: 16px;
}

.Select-option:last-child {
    border-radius: 0;
}

input {
    padding: 6px;
    font-family: "proxima-nova";
    font-size: 18px;
}

button {
    background-color: rgb(238, 89, 73);
    color: white;
    padding: 8px 24px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button:disabled {
    opacity: 0.75;
}

.geosuggest__suggests-wrapper {
    position: absolute;
    text-align: left;
}

.geosuggest__suggests {
    margin: 0;
}

.geosuggest__input {
    width: 400px;
}

.geosuggest-item {
    cursor: pointer;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(230, 230, 230);
}
.geosuggest-item:hover,
.geosuggest-item:focus {
    background-color: rgb(238, 89, 73);
    color: white;
}

.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
}

/*******************
 * SEARCH RESULT
 *******************/

.search-result {
    padding: 48px;
}

#map-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    float: right;
}
